/* @import url('https://fonts.googleapis.com/css2?family=Adamina&family=Josefin+Sans:wght@700&family=Montserrat:ital,wght@0,400;0,600;1,400&family=Sedgwick+Ave+Display&display=swap'); */

body {
  background-color: #f1f1f1;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Montserrat", sans-serif;
}
.text{
  color: black !important;
}

/* Navbar starts */
.nav-item {
  font-family: "Montserrat", sans-serif;
  /* font-weight: 400; */
}
.collapse {
  margin-right: 30px;
}
.btn {
  width: 130px;
  height: 40px;
  border-radius: 20px;
}
.nav-item {
  margin-right: 28px;
}

.nav-item img {
  width: 15.84px;
  height: 17.1px;
  margin-left: 5px;
}
/* navbar ends */

/* about start */
.ab_para {
  padding: 0 30%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@media (max-width: 320px) {
  .ab_para {
    padding: 5%;
  }
}
@media (max-width: 786px) {
  .ab_para {
    padding: 5%;
  }
}
/* about ends */

/* front immage */
/* .iamge{
    position: relative;
} */

/* front iamge end */
.image {
  position: relative;
  /* top: 114px; */
}
.image-1 {
  margin-top: 20rem;
}
.back-2 img {
  width: 100%;
  padding: 8px;
}
.back {
  background-color: #1b1c1e;
  height: 400px;
  width: 100%;
  /* position: absolute; */
  /* bottom: 0; */
  z-index: -1;
  margin-top: -118px;
}
/* .back-2 {
  margin-bottom: -40px;
} */
.project {
  height: 200px;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back-3 img {
  width: 99%;
}
.back-3 {
  position: absolute;
  top: 0;
  z-index: -1;
}
.hes {
  position: relative;
}
.abs {
  position: absolute;
  /* width: 100%; */
  width: 91%;
  left: 4.5%;
  top: 3.5%;
}
.he img {
  width: 100%;
}
.tex {
  text-align: left;
  font-weight: 400;
  line-height: 26px;
  color: black;
}
.re {
  font-size: medium;
  /* padding-top: 31px; */
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding: 4%;
}
.background {
  background-color: #1b1c1e;
  color: white;
}
.mission {
  display: flex;
  font-weight: 400;
  padding-bottom: 2%;
}
.mission1 {
  display: flex;
  font-weight: 300;
  padding-bottom: 2%;
}
.tex1 {
  text-align: left;
  font-weight: 200;
  line-height: 26px;
}
.fontsiz {
  font-weight: 600;
  font-size: 55px;
}
.titleT {
  font-size: 20px;
}
.elliImggCont {
  position: relative;
}
.elliImgg {
  position: absolute;
  width: 220px;
  top: 20%;
  right: 0;
  z-index: -1;
}
.backpadd {
  padding: 2% 0px;
  background-color: #ffffff;
  position: relative;
}
.backpad {
  padding: 2% 0px;
}
.abtHead {
  padding-bottom: 10px;
  font-weight: 400;
}
.ellip1 {
  position: absolute;
  width: 135px;
  top: -4%;
  left: 0;
}
.ellip2 {
  position: absolute;
  width: 135px;
  right: 0;
  bottom: -4%;
}
.imgback {
  z-index: 1;
  position: relative;
}
@media (max-width: 760px) {
  .fontsiz {
    font-size: 25px;
  }
  .titleT {
    font-size: 15px;
  }
  .elliImgg {
    width: 155px;
    top: 68%;
  }
  .revRow {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* ==== Animation start===== */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/* ==== Animation End===== */
/* About ends */

/* === Footer Start === */
.footer-img img {
  width: 240px;
}
.footer-h1 {
  color: #8f8f8f;
}
.footer-h6 a {
  text-decoration: none;
  color: #1b1c1e;
  line-height: 24.38px;
}
.footer-h7 {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.footer-h6 {
  text-align: left;
  /* text-align: center; */
}
.footer-subcribe {
  border: 1px solid gray;
  margin: 0;
  border-radius: 25px;
  display: flex;
  position: relative;
}
.footer-subcribe input,
button {
  height: 39px;
  border: none;
  border-radius: 25px;
}
.footer-subcribe input {
  /* width: 285px; */
  padding: 12px;
}
.footer-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer-subcribe button {
  width: 127px;
  background-color: #1b1c1e;
  color: #ffffff;
}
.footer-icon {
  display: flex;

  /* justify-content: space-evenly; */
}
.icons {
  background: black;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  margin-right: 12px;
}
.icons a {
  text-decoration: none;
}
.icons i {
  width: 41px;
  height: 41px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.footer-sec {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.footer-up {
  position: absolute;
  right: 30px;
}
.footer-up a {
  text-decoration: none;
}
.footer-up i {
  background-color: #20c997;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #ffffff;
}

/* ======== Footer next start========== */
.footer-next-1 {
  background-color: #f1f1f1;
  height: 5vh;
  display: none;
}
/* ======== Footer next end========== */

@media (min-width: 320px) {
  .footer-up i {
    /* position: fixed;
    z-index: 2;
    bottom: 68px;
    right: 28px; */
    visibility: hidden;
  }
  .footer-last {
    margin-top: 20px;
  }
  .footer-h6 {
    float: left;
  }
  .footer-next-1 {
    display: block;
  }
}
@media (min-width: 600px) {
  .footer-h6 {
    float: none;
  }
  .footer-last {
    margin-top: 0;
  }
  .footer-sec {
    height: auto;
  }
  .footer-next-1 {
    display: none;
  }
  .footer-up i {
    position: fixed;
    z-index: 2;
    bottom: 68px;
    right: 15px;
    visibility: visible;
  }
}

/* ==== footer end ==== */

/*======= Mobile Nav ========= */
#Mobile-nav {
  display: none;
  font-family: "Poppins";
}
.dropdown-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dropdown-h4 a {
  text-decoration: none;
  color: black;
}
.dropdown-contact a {
  text-decoration: none;
  color: #f9f9f9;
}
.dropdown-contact {
  background-color: black;
  color: #f1f1f1;
  border-radius: 25px;
  padding: 14px;
  height: 16px;
  display: flex;
  align-items: center;
}
.dropdown-contact h4 {
  margin-bottom: 0;
}
.dropbtn {
  color: black;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content-1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content-1 a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  top: -180px;
}
.dropdown:hover .dropdown-content-1 {
  display: block;
  top: -180px;
  right: 0px;
}
@media (min-width: 320px) {
  #Mobile-nav {
    display: block;
    position: absolute;
    bottom: 0;
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 8vh;
    background-color: #f1f1f1;
  }
  .dropbtn {
    padding: 0;
    font-size: 8px;
  }
  .dropdown-img {
    width: 100px;
  }
  .dropdown-h4 h4 {
    font-size: 10px;
  }
  .dropdown-contact h4 {
    font-size: 10px;
  }
  .dropdown-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #navbar {
    display: none;
  }
}
@media (min-width: 600px) {
  #Mobile-nav {
    display: none;
  }
  #navbar {
    display: block;
  }
}
