/* @import url('https://fonts.googleapis.com/css2?family=Adamina&family=Josefin+Sans:wght@700&family=Montserrat:ital,wght@0,400;0,600;1,400&family=Sedgwick+Ave+Display&display=swap'); */

body {
  background-color: #f1f1f1;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

/* Navbar starts */
.nav-item {
  font-family: "Montserrat", sans-serif;
  /* font-weight: 400; */
}
.collapse {
  margin-right: 30px;
}
.btn {
  width: 130px;
  height: 40px;
  border-radius: 20px;
}
.nav-item {
  margin-right: 28px;
}

.nav-item img {
  width: 15.84px;
  height: 17.1px;
  margin-left: 5px;
}
/* navbar ends */

/* about start */
.ab_para {
  padding: 0 30%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@media (max-width: 320px) {
  .ab_para {
    padding: 5%;
  }
}
@media (max-width: 786px) {
  .ab_para {
    padding: 5%;
  }
}
/* about ends */

/* front immage */
/* .iamge{
    position: relative;
} */

/* front iamge end */
.image {
  position: relative;
  /* top: 114px; */
}
.image-1 {
  margin-top: 20rem;
}
.back-2 img {
  width: 100%;
  padding: 8px;
}
.back {
  background-color: #1b1c1e;
  height: 400px;
  width: 100%;
  /* position: absolute; */
  /* bottom: 0; */
  z-index: -1;
  margin-top: -118px;
}
/* .back-2 {
  margin-bottom: -40px;
} */
.project {
  height: 200px;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back-3 img {
  width: 99%;
}
.back-3 {
  position: absolute;
  top: 0;
  z-index: -1;
}
.hes {
  position: relative;
}
.abs {
  position: absolute;
  /* width: 100%; */
  width: 91%;
  left: 4.5%;
  top: 3.5%;
}
.he img {
  width: 100%;
}
.tex {
  text-align: left;
  font-weight: 400;
  line-height: 26px;
}
.re {
  font-size: medium;
  /* padding-top: 31px; */
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding: 4%;
}
.background {
  background-color: #1b1c1e;
  color: white;
}
.mission {
  display: flex;
  font-weight: 400;
  padding-bottom: 2%;
}
.mission1 {
  display: flex;
  font-weight: 300;
  padding-bottom: 2%;
}
.tex1 {
  text-align: left;
  font-weight: 200;
  line-height: 26px;
}
.fontsiz {
  font-weight: 600;
  font-size: 55px;
}
.titleT {
  font-size: 20px;
}
.elliImggCont {
  position: relative;
}
.elliImgg {
  position: absolute;
  width: 220px;
  top: 20%;
  right: 0;
  z-index: -1;
}
.backpadd {
  padding: 2% 0px;
  background-color: #ffffff;
  position: relative;
}
.backpad {
  padding: 2% 0px;
}
.abtHead {
  padding-bottom: 10px;
  font-weight: 400;
}
.ellip1 {
  position: absolute;
  width: 135px;
  top: -4%;
  left: 0;
}
.ellip2 {
  position: absolute;
  width: 135px;
  right: 0;
  bottom: -4%;
}
.imgback {
  z-index: 1;
  position: relative;
}
@media (max-width: 760px) {
  .fontsiz {
    font-size: 25px;
  }
  .titleT {
    font-size: 15px;
  }
  .elliImgg {
    width: 155px;
    top: 68%;
  }
  .revRow {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* About ends */

/* Footer starts */
.footer-img img {
  width: 200px;
}
.footer-h1 {
  color: #8f8f8f;
}
.footer-h6 a {
  text-decoration: none;
  color: #1b1c1e;
  line-height: 24.38px;
}
.footer-h7 {
  display: flex;
  justify-content: center;
}
.footer-h6 {
  text-align: left;
  /* text-align: center; */
}
.footer-subcribe {
  border: 1px solid gray;
  margin: 0;
  border-radius: 25px;
  display: flex;
  position: relative;
}
.footer-subcribe input,
button {
  height: 39px;
  border: none;
  border-radius: 25px;
}
.footer-subcribe input {
  width: 303px;
  padding: 12px;
}
.footer-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer-subcribe button {
  width: 127px;
  background-color: #1b1c1e;
  color: #ffffff;
}
.footer-icon {
  display: flex;

  /* justify-content: space-evenly; */
}
.icons {
  background: black;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  margin-right: 12px;
}
.icons a {
  text-decoration: none;
}
.icons i {
  width: 41px;
  height: 41px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.footer-sec {
  position: relative;
}
.footer-up {
  position: absolute;
  right: 30px;
}
.footer-up a {
  text-decoration: none;
}
.footer-up i {
  background-color: #20c997;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #ffffff;
}
/* Footer ends */
