.onpartner {
  padding: 5%;
}

.onpartnerimage {
  padding: 5%;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos1 {
  overflow: hidden;
  padding: 60px 0;
  background: transparent;
  white-space: nowrap;
  position: relative;
}

.logos1:before,
.logos1:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos1:before {
  left: 0;
  /* background: linear-gradient(to left, rgba(255, 255, 255, 0), white); */
}

.logos1:after {
  right: 0;
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0), white); */
}

.logos1:hover .logos-slide1 {
  animation-play-state: paused;
}

.logos-slide1 {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide1 img {
  height: 50px;
  margin: 0 40px;
}
