/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
.p2{
  color: black !important;
}
/* .our-sec {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif !important;
} */

.blogPara {
  padding-right: 10%;
  line-height: 28px;
  font-weight: 300;
}
.blogHead {
  font-weight: 300;
  padding-bottom: 10%;
}

.first_block {
  padding: 3%;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 2px dashed white;
  border-top: 2px dashed white;
  border-left: 2px dashed white;
  background: #1b1c1e;
  font-family: "Montserrat", sans-serif;
}
.title_1 {
  width: 25%;
  padding: 10px;
  color: #ffffff;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -25%;
  top: 90%;
  z-index: 1;
  font-size: 20px;
  color: #ffffff;
  background-color: #1b1c1e;
  /* display: none; */
}
.wrapper i:last-child {
  right: 110%;
  top: 90%;
  font-size: 20px;
  color: #ffffff;
  background-color: #1b1c1e;
  /* font-size: xx-large; */
  /* display: none; */
}
/* .wrapper img:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper img:first-child {
  background-color: red;
  left: -25%;
  top: 90%;
  z-index: 1;
  display: none;
}
.wrapper img:last-child {
  background-color: aqua;
  right: 110%;
  top: 90%;
  display: none;
} */
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  /* height: 500px; */
  list-style: none;
  position: relative;
  /* background: #fff; */
  /* cursor: pointer; */
  /* padding-bottom: 15px; */
  flex-direction: column;
  border-radius: 25px;
}


.cardimg {
  width: 100%;
  height: 500px;
}
li {
  color: black !important;
}
.carousel .card h2 {
  font-weight: 500;
  /* font-size: 1.56rem; */
  margin: 30px 0 5px;
  position: absolute;
  bottom: 18%;
  overflow: hidden;
  /* color: #FFFFFF; */
}
.carousel .card span {
  /* color: #6A6D78; */
  color: #1b1c1e;
  /* font-size: 1.31rem; */
  position: absolute;
  bottom: 15%;
  left: 15px;
  overflow: hidden;
  /* display: none; */
}

.card span {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  padding: 0px 2%;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

@media screen and (max-width: 900px) {
  .title_1 {
    width: 100%;
    padding: 10% 5%;
  }
  .first_block {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .title_1 {
    width: 100%;
    padding: 10% 5%;
  }
  .first_block {
    flex-wrap: wrap;
  }
}
@media (max-width: 900px) {
  .wrapper i:first-child {
    left: 1%;
    top: 50%;
    display: block;
    background-color: #ffffff;
    color: #1b1c1e;
  }
  .wrapper i:last-child {
    right: 1%;
    top: 50%;
    display: block;
    background-color: #ffffff;
    color: #1b1c1e;
  }
}
