html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Sharp Sans Extrabold";
  src: url(sharp-sans-cufonfonts/Sharp\ Sans\ Bold\ Italic.otf);
}
@font-face {
  font-family: "Sharp Sans Thin";
  src: url(sharp-sans-cufonfonts/Sharp\ Sans\ Thin.otf);
}
@font-face {
  font-family: "Sharp Sans ExtraBold";
  src: url(sharp-sans-cufonfonts/Sharp\ Sans\ Extrabold.otf);
}
@font-face {
  font-family: "Sharp Sans Semibold";
  src: url(sharp-sans-cufonfonts/Sharp\ Sans\ Semibold.otf);
}
@font-face {
  font-family: "Sharp Sans Medium";
  src: url(sharp-sans-cufonfonts/Sharp\ Sans\ Medium.otf);
}

/* navbar */

.kitti-logo {
  width: 100px;
  height: auto;
}

.navbar {
  background: #fcfcfc;
}
.navbar-nav .nav-item {
  margin: 0 15px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.navbar-nav .nav-item .contact-link {
  background-color: #005baa;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* padding: 15px 10px; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  /* Your styles for the dropdown toggle button */
  margin-right: 15px;
  cursor: pointer;
}

.dropdown-item {
  color: #fff;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 150%;
  /* left: auto; */
  /* width: 100%; */
  padding: 20px;
  border: none;
  border-bottom: 1px solid #000;
  background: #0d2f51;
  display: none;
  padding: 0;
}

/* navbar */

/* banner */

.banner {
  position: relative;
  height: 600px; /* Adjust the height as needed */
  background-image: url("images/aboutus.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000000;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.banner-content h1 {
  font-size: 46px; /* Adjust the font size as needed */
  font-weight: 700;
}

@media (max-width: 767px) {
  .banner {
    height: 500px; /* Adjust the height for mobile screens */
  }

  .banner-content h1 {
    font-size: 30px; /* Adjust the font size for mobile screens */
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 600px; /* Adjust the height for larger screens */
  }

  .banner-content h1 {
    font-size: 36px; /* Adjust the font size for larger screens */
  }
}

/* banner */
/* banner2 */

.cover,
.bg {
  height: 100%;
  width: 100%;
}

.bg {
  background: linear-gradient(rgba(42, 58, 63, 0.8), rgba(42, 58, 63, 0.8)),
    url("images/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 10%;
  border-radius: 0 0 60% 60%/0 0 50% 50%;
  /* transform: scaleX(1.1); */
  /* padding-top: 3.47em;
  padding-bottom: 3.47em; */
  font-family: "Sharp Sans Extrabold";
  box-shadow: 0px 5px 20px 0px #000;
}

.lead1 {
  font-size: 18px;
}

.cover {
  color: #f6f6f6;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.landing-page--message {
  text-align: center;
  /* padding: 10%; */
}

.landing-page--message h1 {
  font-size: 40px;
  letter-spacing: -1px;
}

@media only screen and (min-width: 768px) {
  .landing-page--message h1 {
    font-size: 56px;
    letter-spacing: 1px;
    font-family: "Sharp Sans Semibold";
  }
}

.landing-page--message .btn-outline-danger {
  color: white;
  border-width: 5px;
}

.landing-page--message a:link,
.landing-page--message a:hover,
.landing-page--message a:visited,
.landing-page--message a:active {
  color: #f6f6f6;
}

.landing-page--message a:hover {
  text-decoration: none;
}

/* SERVICES PAGE */

.dev {
  border-top: 5px solid #ec5552;
  border-bottom: 5px solid #ec5552;
  border-left: 10px solid #ec5552;
  border-right: 10px solid #ec5552;
  padding: 5%;
  width: inherit;
}

.dev h1 {
  font-weight: lighter;
  text-align: center;
  padding: 0;
  margin: 0;
}

.dev h1 strong {
  color: #ec5552;
  font-weight: 700;
}

#first-page {
  border-top: 10px solid #ec5552;
}

button.btn.btn-lg.btn-white {
  border: 5px solid #f6f6f6;
  background-color: #ec5552;
  color: #f6f6f6;
}

button.btn.btn-lg.btn-white:hover {
  background: #f6f6f6;
  color: #ec5552;
  transition: all 0.2s ease-in;
}

button.btn.btn-lg.btn-white:focus {
  box-shadow: none;
}

@media only screen and (max-width: 767px) {
  .bg {
    padding: 5%; /* Adjust the padding for mobile screens */
    border-radius: 0; /* Remove border radius for mobile screens */
  }

  .landing-page--message h1 {
    font-size: 20px; /* Adjust the font size for mobile screens */
    font-family: "Sharp Sans Medium";
  }

  .dev {
    padding: 2%; /* Adjust the padding for mobile screens */
    border-width: 3px; /* Adjust the border width for mobile screens */
  }

  button.btn.btn-lg.btn-white {
    font-size: 14px; /* Adjust the font size for mobile screens */
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .bg {
    padding: 7%; /* Adjust the padding for tablet screens */
  }

  .landing-page--message h1 {
    font-size: 48px; /* Adjust the font size for tablet screens */
  }

  .dev {
    padding: 4%; /* Adjust the padding for tablet screens */
    border-width: 6px; /* Adjust the border width for tablet screens */
  }

  button.btn.btn-lg.btn-white {
    font-size: 16px; /* Adjust the font size for tablet screens */
  }
}

/* Larger screens (1200px and above) will use the default styles */

/* 
.curve-bottom{
  border-radius: 0 0 60% 60%/0 0 100% 100%;
} */

/* banner2 */

/* about us */

.our-company {
  margin-bottom: 30px;
}

.why-choose {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 2rem;
  color: #00ca4a;
  font-weight: 700;
  font-family: "Sharp Sans SemiBold";
}

.tick {
  color: #00ca4a;
}

.section-title {
  position: relative;
  /* padding-left: 60px; */
  color: #000;
  font-size: 26px;
  font-family: "Sharp Sans Medium";
}

.section-title::before {
  position: absolute;
  content: "";
  top: -6px;
  left: 0;
  width: 45px;
  height: 3px;
  background: #00ca4a;
}

.section-para {
  color: #000;
  font-size: 18px;
  font-family: "Sharp Sans Medium";
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: inherit;
  margin-left: 0;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

.addon {
  width: 70%;
  height: 100%;
  position: absolute;
  right: -30px;
  border-radius: 10px;
  border: 15px solid #00ca4a;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .addon {
    /* width: 100%; */
    right: 0;
  }
}

/* Media query for larger screens */
@media only screen and (min-width: 768px) {
  .addon {
    width: 50%;
    right: -50px;
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .why-choose {
    font-size: 1.5rem;
    font-family: "Sharp Sans SemiBold";
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .why-choose {
    font-size: 1.8rem;
    font-family: "Sharp Sans SemiBold";
  }
}

/* Desktop Styles */
@media screen and (min-width: 1024px) {
  .why-choose {
    font-size: 2rem;
    font-family: "Sharp Sans Semibold";
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-left {
  animation: fadeLeft 1s ease-in-out;
}

.fade-right {
  animation: fadeRight 1s ease-in-out;
}

/* carrer */
.carrer {
  position: relative;
  height: 600px; /* Adjust the height as needed */
  background-image: #ccc;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.carrer-content {
  text-align: center;
  color: #fff;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.carrer-content h1 {
  font-size: 46px; /* Adjust the font size as needed */
  font-weight: 700;
}

.carrer-content p {
  font-size: 36px; /* Adjust the font size as needed */
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Sharp Sans Semibold";
}

.career-join {
  background: #005baa;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  padding: 20px;
  border-radius: 50px;
  font-family: "Sharp Sans Semibold";
}

.career-join:hover {
  background: #005baa;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 767px) {
  .carrer {
    height: 350px; /* Adjust the height for mobile screens */
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carrer-content {
    flex-direction: column;
  }

  .carrer-content h1 {
    font-size: 30px; /* Adjust the font size for mobile screens */
  }
  .carrer-content p {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 30px;
  }
  .career-join {
    font-size: 16px;
    font-weight: 800;
    padding: 15px;
    border-radius: 50px;
    font-family: "Sharp Sans Semibold";
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .carrer {
    height: 500px; /* Adjust the height for tablets */
  }
}

@media (min-width: 1200px) {
  .carrer {
    height: 130px; /* Adjust the height for larger screens */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
  }

  .carrer-content {
    flex-direction: row;
  }

  .carrer-content h1 {
    font-size: 36px; /* Adjust the font size for larger screens */
  }
  .carrer-content p {
    font-size: 36px;
    /* Adjust the font size as needed */
    font-weight: 700;
    margin-bottom: 0;
    font-family: "Sharp Sans Semibold";
  }
  .career-join {
    background: #005baa;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
    border-radius: 50px;
    font-family: "Sharp Sans medium";
  }
}
/* carrer */

/* mission */
.mission {
  /* padding: 10%; */
}

.mission-content {
  padding: 5%;
}

.mission-content h2 {
  font-size: 46px;
  font-weight: 700;
  font-family: "Sharp Sans Semibold";
  color: #00ca4a;
  margin-bottom: 10px;
}

.mission-content p {
  font-size: 22px;
  font-weight: 500;
  font-family: "Sharp Sans Medium";
  color: #fff;
  margin-bottom: 10px;
}

.site__wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  /* padding-top: 1.5em;
  padding-bottom: 1.5em; */
}

.mision-pa {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.site__info {
  clear: both;
  display: block;
  font-variant: small-caps;
  letter-spacing: 2px;
  /* padding-top: 1.5em;
  padding-bottom: 1.5em; */
  text-align: center;
}

.card {
  background: #000;
}

.grid {
  float: none;
  width: 100%;
  /* padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.4em; */
}

@media screen and (min-width: 40.063em) {
  .grid {
    float: left;
    width: 100%;
    padding: 0;
  }
}

.card__image {
  /* -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; */
  display: block;
  min-height: 240px;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}

.card__image > img {
  display: block;
  margin-bottom: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
}

.card__image:hover > img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.card__overlay {
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.card__overlay--indigo {
  background-image: linear-gradient(
    to bottom,
    rgba(92, 107, 192, 0.1),
    #00ca4a82
  );
  z-index: 2;
}

.card__overlay--blue {
  background-image: linear-gradient(
    to bottom,
    rgba(41, 182, 246, 0.1),
    #00ca4a82
  );
  z-index: 2;
}

/* mission */
/* vision */
.vision {
  /* padding: 10%; */
}

.vision-content {
  padding: 5%;
}

.vision-content h2 {
  font-size: 46px;
  font-weight: 700;
  font-family: "Sharp Sans Semibold";
  color: #00ca4a;
  margin-bottom: 10px;
}

.vision-content p {
  font-size: 22px;
  font-weight: 500;
  font-family: "Sharp Sans Medium";
  color: #fff;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .mission-content h2 {
    font-size: 30px; /* Adjust the font size for mobile screens */
  }

  .mission-content p {
    font-size: 18px; /* Adjust the font size for mobile screens */
  }

  .vision-content h2 {
    font-size: 30px; /* Adjust the font size for mobile screens */
  }

  .vision-content p {
    font-size: 18px; /* Adjust the font size for mobile screens */
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .site__wrapper {
    max-width: 768px; /* Adjust the max width for tablet screens */
  }
}

@media (min-width: 1200px) {
  .site__wrapper {
    max-width: 1200px; /* Adjust the max width for larger screens */
  }
}

/* vision */

/* contact form */
.contact-overall {
  background-color: #000;
  padding: 40px;
}

.contact-form {
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.contact-head {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: left;
}

.contact-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  background-color: #ccc;
  border: none;
}

.form-control:focus {
  background-color: #fff;
  border: 1px solid #00ca4a;
  box-shadow: 0 0 0 0.2rem #00ca4a;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 10rem;
  background: #ccc;
}

textarea:focus {
  background-color: #ccc;
  border: 3px solid #00ca4a;
  box-shadow: none;
}

textarea:focus-visible {
  border: 3px solid #00ca4a;
  outline: none;
}

.btn-primary {
  padding: 10px;
  background-color: #005baa;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Styling */

@media (max-width: 991.98px) {
  .contact-overall {
    padding: 20px;
  }

  .contact-head {
    font-size: 30px;
  }

  .form-control,
  textarea {
    font-size: 16px;
  }

  .btn-primary {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .contact-head {
    font-size: 24px;
  }

  .form-control,
  textarea {
    font-size: 14px;
  }

  .btn-primary {
    font-size: 14px;
  }
}

@media (max-width: 1199.98px) {
  .contact-overall {
    padding: 30px;
  }

  .contact-head {
    font-size: 36px;
  }

  .form-control,
  textarea {
    font-size: 18px;
  }

  .btn-primary {
    font-size: 18px;
  }
}
/* Animation */

/* .contact-form::before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;
      background: linear-gradient(45deg, #0080ff, #ff00ff, #00ff80, #ff8000);
      background-size: 400% 400%;
      animation: gradientAnimation 15s ease infinite;
      border-radius: 15px;
    }
    
    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    } */

/* contact form */

/* footer */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    65deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(11, 38, 65, 1) 54%,
    rgba(16, 58, 100, 1) 100%
  );
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta {
  display: flex;
}

.single-cta i {
  color: #00ca4a;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  display: flex;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #373636;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 150px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #00ca4a;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 100%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.copyright-area {
  /* background: #202020; */
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.carrer-about {
  background: #ffffff17;
  padding: 20px;
  border-radius: 10px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiring {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.join {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  background: #005baa;
  border-radius: 3.125rem;
  /* transition: 0.3s ease-in-out; */
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.join:hover {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  background: #005baa;
  border-radius: 3.125rem;
  /* transition: 0.3s ease-in-out; */
  padding: 10px;
  font-size: 20px;

  justify-content: space-around;
  align-items: center;
  display: flex;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: relative;
  animation: mymove 2s infinite;
  animation-timing-function: ease;
  transition: 2s ease-in;
  font-size: 30px;
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 5px;
  }
}
/* footer */
