html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* navbar */

.kitti-logo {
  width: 100px;
  height: auto;
}

.navbar {
  background: #373636;
}
.navbar-nav .nav-item {
  margin: 0 15px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.navbar-nav .nav-item .contact-link {
  background-color: #005baa;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* padding: 15px 10px; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  /* Your styles for the dropdown toggle button */
  margin-right: 15px;
  cursor: pointer;
}

.dropdown-item {
  color: #fff;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 150%;
  /* left: auto; */
  /* width: 100%; */
  padding: 20px;
  border: none;
  border-bottom: 1px solid #000;
  background: #0d2f51;
  display: none;
  padding: 0;
}

/* navbar */

/* banner */

.banner {
  position: relative;
  height: 600px; /* Adjust the height as needed */
  background-image: url("images/leadership.png");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000000;
  filter: drop-shadow(2px 4px 6px black);
}

.banner-content {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: justify;
  z-index: 1;
  color: #000;
  background: #fff;
  padding: 40px;
  width: 80%;
}

@media only screen and (max-width: 768px) {
  /* Styles for mobile devices */
  .banner-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for laptops and smaller screens */
  .banner-content {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 30px;
  }
}

@media only screen and (min-width: 1025px) {
  /* Styles for larger screens */
  .banner-content {
    top: 90%;
    left: 40%;
    width: 80%;
    padding: 40px;
  }
}

.banner-content1 {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
  color: #fff;
  /* background: #fff; */
  padding: 40px;
  width: 80%;
}

@media only screen and (max-width: 768px) {
  /* Styles for mobile devices */
  .banner-content1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for laptops and smaller screens */
  .banner-content1 {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 30px;
  }
}

@media only screen and (min-width: 1025px) {
  /* Styles for larger screens */
  .banner-content1 {
    top: 50%;
    left: 50%;
    width: 80%;
    padding: 40px;
  }
}

.banner-content1 h1 {
  font-size: 46px; /* Adjust the font size as needed */
  font-weight: 700;
}

@media (max-width: 767px) {
  .banner {
    height: 500px; /* Adjust the height for mobile screens */
  }

  .banner-content1 h1 {
    font-size: 30px; /* Adjust the font size for mobile screens */
  }
  .banner-content1 h5 {
    font-size: 12px; /* Adjust the font size for mobile screens */
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 600px; /* Adjust the height for larger screens */
  }

  .banner-content1 h1 {
    font-size: 56px; /* Adjust the font size for larger screens */
  }
}

/* banner */

/* leadership */

.our-team {
  padding: 60px 0;
}
.our-team .multi-column-carousel {
  margin-top: 30px;
}
.our-team .multi-column-carousel .page-content {
  text-align: center;
}
.our-team .multi-column-carousel .page-content .head-shot {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 60px;
  background-color: goldenrod;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card.fade-in {
  opacity: 1;
  transform: translateY(0);
}

article {
  padding: 96px 48px 50px;
}
section.card {
  background: #e6e4c2;
  border-radius: 24px 24px 24px 48px;
  padding: 48px 48px 48px 308px;
  margin: 0 0 0 248px;
  width: 60vw;
  max-width: 920px;
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
  box-shadow: 5px 0 0 0 rgba(204, 204, 204, 0.3),
    -5px 0 0 0 rgba(204, 204, 204, 0.3), 0 5px 0 0 rgba(204, 204, 204, 0.3);
}
section.card .text-content {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 192px);
}
section.card .text-content h3 {
  margin: 0;
  font-size: 1.5em;
  max-width: 100%;
}
section.card .text-content h6 {
  margin: 0;
  font-size: 18px;
  max-width: 100%;
}
section.card .text-content p {
  margin: 16px 0 30px;
  max-width: 36ch;
}
section.card .text-content a {
  /* border: 3px solid #000; */
  color: #000;
  align-self: flex-start;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 400ms all;
}
section.card .text-content a:hover {
  background: #000;
  color: white;
}
section.card .visual {
  width: 350px;
  height: 100%;
  position: absolute;
  top: -24px;
  left: -55px;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 1px 2px 6px rgba(255, 255, 255, 0.25),
    2px 6px 12px rgba(0, 0, 0, 0.25);
}
section.card .visual img {
  height: 110%;
}
section.card:nth-of-type(odd) {
  margin: 84px 0;
  border-radius: 24px 24px 48px 24px;
  padding: 48px 308px 48px 60px;
}
section.card:nth-of-type(odd) .visual {
  right: -32px;
  left: auto;
}
section.card:nth-of-type(odd) .text-content a {
  align-self: flex-start;
}
article {
  margin: auto;
  display: block;
  width: calc(60vw + 248px);
  max-width: calc(920px + 248px);
  min-width: calc(640px + 248px);
}
/* body {
  margin: 0;
  padding: 96px;
  font-size: 21px;
  background: #fff;
  color: #000;
  font-family: "gelica", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
@media all and (max-width: 1100px) {
  /* body {
    padding: 96px 48px 24px;
  } */
  article {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  section.card {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  section.card .text-content {
    width: 100%;
  }
  section.card:nth-of-type(odd) {
    margin: 0;
  }
}
@media all and (max-width: 720px) {
  /* body {
    padding: 48px 24px 0;
  } */
  section.card {
    margin: 105px 0;
    padding: 88px 36px 36px;
    flex-direction: column;
    border-radius: 24px;
  }
  section.card:nth-of-type(odd) {
    padding: 88px 36px 36px;
    border-radius: 24px;
  }
  section.card .text-content h3 {
    max-width: 100%;
    font-size: 1em;
  }
  section.card .text-content p,
  section.card .text-content a {
    font-size: 0.8em;
  }
  section.card .visual,
  section.card:nth-of-type(odd) .visual {
    width: 150px;
    height: 150px;
    right: 16px;
    left: auto;
    top: -70px;
  }
  section.card .visual img,
  section.card:nth-of-type(odd) .visual img {
    width: 100%;
    height: auto;
  }
}

/* leadership */

/* our team */
.multi-column-carousel {
  width: 100%;
  position: relative;
}
.multi-column-carousel .pagination-container {
  left: 50%;
  z-index: 1;
  bottom: -18px;
  position: absolute;
  transform: translateX(-50%);
}
.multi-column-carousel .pagination-container:after {
  content: "";
  clear: both;
  display: block;
}
.multi-column-carousel .pagination-container .indicator {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s border;
  border: 1px solid black;
}
.multi-column-carousel .pagination-container .indicator:first-child {
  margin-left: 0;
}
.multi-column-carousel .pagination-container .indicator:last-child {
  margin-right: 0;
}
.multi-column-carousel .pagination-container .indicator.active {
  border: 5px solid black;
}
.multi-column-carousel .viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #000;
}
.multi-column-carousel .viewport .multi-column-button {
  top: 55%;
  z-index: 1;
  width: 44px;
  height: 44px;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  transition: 0.1s all;
  background-color: lightgray;
  transform: translateY(-50%);
}
.multi-column-carousel .viewport .multi-column-button.previous {
  left: 8px;
}
.multi-column-carousel .viewport .multi-column-button.previous.hidden {
  left: 10px;
}
.multi-column-carousel .viewport .multi-column-button.next {
  right: 8px;
}
.multi-column-carousel .viewport .multi-column-button.next.hidden {
  right: -45px;
}
.multi-column-carousel .viewport .multi-column-button:hover {
  opacity: 1;
}
.multi-column-carousel .viewport .page-container {
  left: 0;
  position: relative;
}
.multi-column-carousel .viewport .page-container:after {
  content: "";
  clear: both;
  display: block;
}
.multi-column-carousel .viewport .page-container .page {
  float: left;
}
.multi-column-carousel .viewport .page-container .page .page-content {
  padding: 30px;
  background: #000;
  color: #fff;
}

.image-team {
  width: 100%;
  margin: auto;
  height: auto;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fa-arrow-left {
  position: absolute;
  top: 15px;
  left: 15px;
}
.fa-arrow-right {
  position: absolute;
  top: 15px;
  left: 15px;
}

.founder-social-link {
  display: flex;
  justify-content: left;
  align-items: center;
}

.founder-social-link a {
  margin-right: 10px;
  color: #00ca4a;
}

@media (max-width: 767px) {
  .founder-social-link {
    justify-content: flex-start;
  }

  .founder-social-link a {
    margin-right: 5px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .founder-social-link a {
    margin-right: 10px;
    font-size: 26px;
  }
}

/* our team */

/* contact form */
.contact-overall {
  background-color: #2d76bb;
  padding: 40px;
}

.contact-form {
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.contact-head {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.contact-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  background-color: #ccc;
  border: none;
}

.form-control:focus {
  background-color: #fff;
  border: 1px solid #00ca4a;
  box-shadow: 0 0 0 0.2rem #00ca4a;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 10rem;
  background: #ccc;
}

textarea:focus {
  background-color: #ccc;
  border: 3px solid #00ca4a;
  box-shadow: none;
}

textarea:focus-visible {
  border: 3px solid #00ca4a;
  outline: none;
}

.btn-primary {
  padding: 10px;
  background-color: #005baa;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Styling */

@media (max-width: 991.98px) {
  .contact-overall {
    padding: 20px;
  }

  .contact-head {
    font-size: 30px;
  }

  .form-control,
  textarea {
    font-size: 16px;
  }

  .btn-primary {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .contact-head {
    font-size: 24px;
  }

  .form-control,
  textarea {
    font-size: 14px;
  }

  .btn-primary {
    font-size: 14px;
  }
}

@media (max-width: 1199.98px) {
  .contact-overall {
    padding: 30px;
  }

  .contact-head {
    font-size: 36px;
  }

  .form-control,
  textarea {
    font-size: 18px;
  }

  .btn-primary {
    font-size: 18px;
  }
}
/* Animation */

/* .contact-form::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #0080ff, #ff00ff, #00ff80, #ff8000);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    border-radius: 15px;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */

/* contact form */

/* footer */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    65deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(11, 38, 65, 1) 54%,
    rgba(16, 58, 100, 1) 100%
  );
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta {
  display: flex;
  justify-content: center;
}

.single-cta i {
  color: #00ca4a;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  display: flex;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #373636;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 150px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #00ca4a;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 100%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.copyright-area {
  /* background: #202020; */
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrer {
  background: #ffffff17;
  padding: 20px;
  border-radius: 10px;
}

.hiring {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.join {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  background: #005baa;
  border-radius: 3.125rem;
  /* transition: 0.3s ease-in-out; */
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.join:hover {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  background: #005baa;
  border-radius: 3.125rem;
  /* transition: 0.3s ease-in-out; */
  padding: 10px;
  font-size: 20px;

  justify-content: space-around;
  align-items: center;
  display: flex;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: relative;
  animation: mymove 2s infinite;
  animation-timing-function: ease;
  transition: 2s ease-in;
  font-size: 30px;
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 5px;
  }
}
/* footer */
